.member-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0.5rem;
}

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.member__name {
  flex-grow: 1;
}
