.room-list__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.room-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}