.member-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 0.5rem;
}

.member {
	display: grid;
	grid-template-columns: 1fr min-content min-content;
	align-items: center;
	padding: 0.5rem;
	gap: 0.5rem;
}
